.site-bookmark-ul {
  padding-left: 0;
  margin-top: 7.5px;
}

.site-bookmark-li {
  margin-top: 7.5px;
  list-style: none;
}

.site-bookmark-a {
  color: var(--text-color);
  padding: 0 7.5px;
}

.site-bookmark-a:hover,
.site-bookmark-a:focus,
.site-bookmark-a-focus {
  opacity: 1;
  text-decoration: none;
  background-color: var(--focus-color);
}

.site-bookmark-a:focus,
.site-bookmark-a-focus {
  outline: 3px auto #2680d9;
}

.site-bookmark-a:focus ~ .site-bookmark-a-focus {
  background-color: transparent;
}

.site-bookmark-img {
  margin-right: 5px;
  padding: 16px 0 0 0;
  text-indent: -9999px;
}

@media screen and (max-width:640px) {
.site-bookmark-li {
  line-height: 200%;
  margin-right: 0.5rem;
}
}

:root {
  --bg-color: #fff;
  --text-color: #333;
  --input-color: #fff;
  --focus-color: #f2f2f2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #ddd;
    --input-color: #aaa;
    --focus-color: #555;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#search-input {
  background-color: var(--input-color);
}